.gameWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.disabledGameWrapper {
  pointer-events: none;
}

.gameId {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: .45rem 0 .35rem 0;
  font-size: clamp(.4rem, calc(.4rem + 1vw), .9rem);
  color: rgba(123, 244, 253, 0.5);
  background-color: rgb(125 204 204 / 11%);
  z-index: 1;
}

.gameId span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gameId button {
  border: none;
  background: none;
  margin-left: .25rem;
}

.gameId i {
  color: rgba(123, 244, 253, 0.5);
  font-size: clamp(.5rem, calc(.5rem + 1vw), 1.1rem);
}

.gameUI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.scoreBoard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: .5rem;
  border-radius: 15px;
  padding: .2rem;
}

.playerScore {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .3rem .05rem;
  border-radius: 10px;
  width: 100%;
  opacity: .7;
}

.playerScore.currentPlayer {
  opacity: 1;
}

.scoreWrapper {
  display: flex;
  margin-left: auto;
  min-width: 70px;
  align-items: center;
}

.scoreWhite,
.scoreBlack {
  border: 2px solid rgb(159 227 231 / 50%);
  border-radius: 50%;
  height: clamp(15px, calc(10px + 2.2vw), 35px);
  width: clamp(15px, calc(10px + 2.2vw), 35px);
  /* margin-left: auto; */
}

.playerScore .winsWrapper {
  background-color: rgba(70, 146, 179, 0.229);
  padding: .25rem .7rem;
  border-radius: 7px;
  min-width: 42px;
  text-align: center;
}

.playerScore span {
  font-size: clamp(.5rem, calc(.4rem + 2.5vw), 1.2rem);
  max-width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playerScore span.scoreNumber {
  margin-left: .5rem;
  text-align: center;
  min-width: 25px;
  font-size: clamp(.6rem, calc(.45rem + 2.5vw), 1.4rem);
}

.playerScore span.scoreX {
  line-height: 1;
  margin-left: .8rem;
}

.scoreWhite {
  background: white;
}

.scoreBlack {
  background: black;
}

.scoreDivider {
  height: 1px;
  width: 100%;
  background: rgba(70, 166, 179, 0.35);
  margin: .2rem 0;
}

.gameBoardWrapper {
  width: 100%;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(8, 1fr);
}

.gameBoardDisabled {
  opacity: .7;
  pointer-events: none;
}

.gameSquare {
  border-radius: clamp(1px, calc(2px + .5vw), 3px);
  cursor: pointer;
  background: #354a50;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.gameSquare:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.gameSquare.validMove {
  border: 1px solid rgba(111, 220, 224, 0.397);
}

.gamePiece {
  position: absolute;
  width: 87%;
  height: 87%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  transform: scale(.95);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.gameWrapper.roomFull {
  opacity: .4;
  pointer-events: none;
}

@keyframes gamePieceAnimation {
  0% {
    transform: scale(.95);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.95);
  }
}

.whitePiece {
  background: white;
  border: 3px solid rgb(236, 236, 236);
  /* outline: 3px solid rgb(236, 236, 236); */
  /* outline-offset: -1px; */
  animation: gamePieceAnimation .7s ease-in-out;
}

.blackPiece {
  background: rgb(22 21 21);
  border: 3px solid rgb(0, 0, 0);
  /* outline: 3px solid rgb(0, 0, 0); */
  /* outline-offset: -1px; */
  animation: gamePieceAnimation .7s ease-in-out;
}

.gameMessageWrapper {
  width: 100%;
  max-width: 75vh;
  display: flex;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(151, 245, 255, 0) 0%, rgba(62, 155, 165, 0.164) 50%, rgba(146, 198, 203, 0) 100%);
  gap: .7rem;
  flex: 1;
  padding: .5rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.gameMessageWrapper .scoreWhite,
.gameMessageWrapper .scoreBlack {
  margin-left: 0;
}

.gameMessageWrapper p {
  font-size: clamp(.8rem, calc(.6rem + 1.2vw), 1.2rem);
  transition: .7s;
  color: rgb(123, 245, 253);
  opacity: .6;
}

.gameMessageWrapper p.newMsg {
  opacity: 1;
  transform: scale(1.07);
  filter: drop-shadow(0 0 4px rgb(123, 245, 253, .4));
}

.gameMessageWrapper p.hideGameMsg {
  transition: none;
  opacity: 0;
}

.gameHr {
  width: 100%;
  margin: .7rem 0;
  border: none;
  border-bottom: 1px solid rgba(123, 244, 253, 0.24);
}

.gameBtnWrapper {
  display: flex;
  margin-top: calc(.7rem + .7vw);
  margin-bottom: 2rem;
  text-align: center;
  gap: .7rem;
}

.gameBtnWrapper button {
  font-size: clamp(.5rem, calc(.5rem + 1vw), .9rem);
  background: none;
  padding: .8rem;
  min-width: 110px;
  border-radius: 15px;
}

@keyframes noMovesAnimation {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.gameBoardMessage {
  width: 100%;
  padding: .8rem;
  text-align: center;
  font-size: .7rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  background: rgba(0, 0, 0, 0.486);
  color: white;
  animation: noMovesAnimation 4.5s infinite;
}

.landscape {
  display: none;
  pointer-events: none;
}

.playAgainBtnWrapper {
  position: absolute;
  top: 20px;
}

@media screen and (min-width: 400px) {
  .gameBoardMessage {
    font-size: .9rem;
  }

  .gameBoardWrapper {
    gap: 3px;
  }
}

@media screen and (min-width: 500px) {
  .playerScore {
    gap: .8rem;
  }

  .gameBtnWrapper {
    gap: 1rem;
  }

  .gameBoardMessage {
    font-size: 1.1rem;
  }

  .gameBtnWrapper button {
    padding: 1rem;
    min-width: 150px;
  }

  .gameBoardWrapper {
    gap: 4px;
  }
}

@media screen and (min-width: 800px) {
  .gameBoardMessage {
    font-size: 1.4rem;
  }
}