.waitingForPlayerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.521);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}

.waitingForPlayerModal {
  padding: 3rem 2.5rem;
  background: rgb(41, 56, 58);
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.568);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid rgba(123, 244, 253, 0.222); */
  gap: 1.5rem;
  font-size: clamp(.7rem, calc(.7rem + 1vw), 1.1rem);
  /* overflow: hidden; */
}

.roomFullModal {
  width: 300px;
}

.waitingForPlayerModal .buttonsWrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1rem;
}

.waitingForPlayerModal .buttonsWrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1rem;
}

.waitingForPlayerModal button {
  background: none;
  padding: 1rem;
  border-radius: 10px;
  min-width: 130px;
}

/* ENTER NAME */
.waitingForPlayerModal input {
  padding: clamp(.5rem, calc(.5rem + 1vh), 1rem);
  background: none;
  border: 1px solid rgb(123, 245, 253, .7);
  color: rgb(123, 245, 253);
  font-size: .95rem;
  border-radius: 10px;
  margin-bottom: 1.4rem;
  width: 100%;
}

.waitingForPlayerModal input:focus {
  outline: 1px solid rgba(179, 244, 248, 0.795);
}

.waitingForPlayerModal input:-webkit-autofill,
.waitingForPlayerModal input:-webkit-autofill:hover,
.waitingForPlayerModal input:-webkit-autofill:focus,
.waitingForPlayerModal input:-webkit-autofill:active {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(123, 245, 253) !important;
}

.waitingForPlayerModal .enterNameButtonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 400px) {
  .waitingForPlayerModal .buttonsWrapper {
    flex-direction: row;
    margin-top: .5rem;
  }

  .waitingForPlayerModal .buttonsWrapper.enterNameWrapper {
    flex-direction: column;
    margin-top: .5rem;
  }

  .waitingForPlayerModal .enterNameButtonsWrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}